
.navBar {
    @apply bg-background/80 flex justify-between items-center p-4 w-fit h-16 z-30 fixed flex-row backdrop-blur-md mr-2 mt-2 ml-2 rounded-xl space-x-10 pr-10 pl-10 text-accent-foreground italic font-semibold shadow-md;
}

.navBarDocs {
    @apply bg-background/80 flex justify-between items-center p-4 w-fit h-16 z-30 fixed flex-row backdrop-blur-md mr-2 mt-2 ml-2 rounded-xl space-x-10 pr-10 pl-10 text-accent-foreground italic font-semibold shadow-md;
}

.link {
    @apply text-accent-foreground/70  hover:text-accent-foreground hover:transition-colors hover:cursor-pointer;
}

.catamaran {
    @apply italic font-extrabold text-xl bg-gradient-to-bl from-teal-600 to-teal-200 text-transparent bg-clip-text;
}

.catamaran:hover {
    @apply cursor-pointer;
}

.catamaranDocs {
    @apply italic font-extrabold text-xl bg-gradient-to-bl from-blue-700 to-blue-300 text-transparent bg-clip-text;
}

.catamaranDocs:hover {
    @apply cursor-pointer;
}

.search {
    @apply text-accent-foreground/70 bg-zinc-400 p-2 pr-4 pl-4 rounded-xl;
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url("/fonts/JetBrainsMono-Italic[wght].ttf") format("truetype")
        url("/fonts/JetBrainsMono-Italic[wght].woff") format("woff");
}

.monospace {
    font-family: 'JetBrains Mono';
    background-color: lightgray;
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
    border-radius: 10px;
}